.mainContainer{
  /*border: 2px solid blue;*/
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContentContainer {
  display: flex;
  /*border: 2px solid red;*/
  flex: 1;
  justify-content: space-evenly;
  margin-top: 10vh; 
  margin-bottom: 10vh;
}