.artistCardMainContainer {
    display: flex;
}

.artistCard {
    width: 20%;
    /*border: 2px solid green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
}

.artistCard:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.artistCard img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.artistCardTextContainer {
    width: 100%;
    margin-bottom: 1rem;
}

.artistCardTextContainer h1{
    font-size: 1.1rem;
}

.artistCardTextContainer p{
    font-size: 0.7rem;
}

#playButton {
    background-color: rgb(87,255,87);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
}

.artistCard:hover #playButton {
    display: flex;
}

.artistCard span svg {
    width: 65%;
    height: 65%;
}

